# Compiled Object files
*.slo
*.lo
*.o
*.d
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Executable File
*.elf

# Temporary files
*~

# Generate Files
levels.gen.cpp
assets.lua
